
  .ani-sidebar-tree {
    .ani-sidebar-tree-item {
      display: flex;
      padding-left: 12px;
      height: 26px;
      line-height: 26px;
      font-size: 14px;
      color: rgb(90, 90, 90);

      .icon-area {
        display: flex;
        width: 24px;
        height: 100%;
        margin-right: 4px;
        align-items: center;
      }

      &.item-selected {
        font-weight: 500;
        background-color: rgb(232, 231, 228);
      }

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }

  }