
.ani-header {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  padding-top: 8px;;
  height: 40px;


  .ani-big-heading {
    font-size: 24px;
    line-height: 40px;
    font-weight: 500;
    padding-left: 24px;
  }

  .ani-header-button-group {
    margin-left: auto;

    padding-right: 36px;

    height: 100%;
    display: flex;
    align-items: center;

    -webkit-app-region: no-drag;
  }

  .ani-scale-to-fit-button {
    height: 32px;

    padding: 4px;
    margin-left: 12px;

    &:hover {
      cursor: pointer;
    }
  }
}
