
.ani-sidebar-container {
  color: rgb(119, 119, 119);
  background-color: rgb(246, 246, 246);
  width: 200px;
  .ani-sidebar-toolbar-container {
    height: 35px;
    -webkit-app-region: drag;
  }

}
