
.ani-sidebar-container {
  color: rgb(119, 119, 119);
  background-color: rgb(246, 246, 246);
  width: 200px;
}

.ani-sidebar-item {
  width: 100%;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: rgb(90, 90, 90);

  &:hover {
    background-color: rgb(190, 190, 190);
  }
}
