
.ani-std-button {
  background: none;
  padding: 2px;
  border-radius: 4px;
  border-style: none;
  color: #5a5a5a;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgb(246, 246, 246);
    cursor: pointer;
  }

  &.ani-button-large {
    font-size: 16px;
    height: 36px;
    display: flex;
    height: 32px;
    align-items: center;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

